<body>
    <form id="editorForm" action="/documents" method="POST" onsubmit="submitForm(event)">
        <textarea id="editor" autocomplete='off' placeholder="Start typing..."></textarea>
    </form>
</body>
<script>
</script>