<body>
    <form id="editorForm" action="http://127.0.0.1:3000/documents" method="POST" onsubmit="submitForm(event)">
        <textarea id="editor" autocomplete='off' placeholder="Start typing..."></textarea>
    </form>
</body>
<script>
</script>